.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.logo {
    height: 100px;
    width: 100px;
}
.nav-list {
    font-size: 24px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    list-style-type: none;
    gap: 20px;
    margin: 10px;
}
.login-btn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 80px;
    border-radius: 4px;
    cursor: pointer;
}