.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid black;
}
.logo {
    height: 100px;
    width: 100px;
}
.nav-list {
    font-size: 24px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    list-style-type: none;
    gap: 20px;
}