.restro-card {
    padding: 5px;
    border-radius: 2px;
    background-color: #f9f5f5;
    width: 18%;
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    gap: 5px;
}
.restro-card:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #808080;
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.restro-image {
    width: 100%;
    height: 50%;
}

.restaurant-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    height: auto;
}