.restro-card {

    text-decoration: none;
    color: #000;
    width: 250px;
    height: 400px;

    padding: 5px;
    border-radius: 2px;
    background-color: #f9f5f5;
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    gap: 5px;
}
.restro-card:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #808080;
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.restro-image {
    width: 100%;
    height: 50%;
}

.restaurant-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}
.body {
    border: 2px solid lightgray;
    padding: 10px 25px 10px 25px;
    margin: 5px;
}