.body {
    border: 2px solid lightgray;
    padding: 10px 25px 10px 25px;
    margin: 5px;
}
.footer {
    border: 2px solid lightgray;
    padding: 10px 50px 10px 50px;
    margin: 5px;
}
.header {
    border: 2px solid lightgray;
    padding: 10px 25px 10px 25px;
    margin: 5px;
}