.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    gap: 20px;;
}
.links {
    display:flex;
    font-size: 20px;
    list-style-type: none;
    gap: 15px;
}